@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>


<address>
    Россия, Пензенская область, город Кузнецк,
    улица Правды дом 23.
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ramilcabirov@gmail.com">ramilcabirov@gmail.com</a><br />
</address>